<div class="flex flex-col container">
  <div class="flex justify-end mb-4">
    <form [formGroup]="searchForm">
      <mat-form-field class="pr-4" floatLabel="always" appearance="outline">
        <mat-label>Filtrar</mat-label>

        <input matInput formControlName="filter" />
      </mat-form-field>
    </form>

    <div class="grid grid-cols-1 content-center">
      <ng-container *ngIf="session$ | async as session">
        <button
          *ngIf="session.user && session.user.isAdmin"
          mat-raised-button
          color="primary"
          (click)="openModal()"
        >
          <mat-icon>add</mat-icon> <span>Nuevo</span>
        </button>
      </ng-container>
    </div>
  </div>
  <app-table [dataTable]="dataTable" [metaColumns]="metaColumns">
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef appFontSizeCustom>Acciones</th>
      <ng-container *ngIf="session$ | async as session">
        <td mat-cell *matCellDef="let row">
          <button
            [disabled]="
              !session.user || (session.user && !session.user.isAdmin)
            "
            mat-icon-button
            [matMenuTriggerFor]="menu"
            aria-label="Example icon-button with a menu"
          >
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="openModal(row)">
              <mat-icon>edit</mat-icon>
              <span>Editar</span>
            </button>

            <button mat-menu-item (click)="delete(row)">
              <mat-icon>delete</mat-icon>
              <span>Eliminar</span>
            </button>
          </mat-menu>
        </td>
      </ng-container>
    </ng-container>
  </app-table>
</div>
